<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892281130930-v23uijhau6lholov6n1tfa8vj3kvf8tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892281130930-v23uijhau6lholov6n1tfa8vj3kvf8tf</string>
	<key>API_KEY</key>
	<string>AIzaSyBIj1NE13S4aUbpHDlDFS_64WAvBx7D2cw</string>
	<key>GCM_SENDER_ID</key>
	<string>892281130930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mvp.AppNotification</string>
	<key>PROJECT_ID</key>
	<string>mvp-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>mvp-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892281130930:ios:f6ad7a6773be52e80a9eab</string>
</dict>
</plist>